{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.descripton|truncatewords:155}}
    {% else %}
        welcome to vismaya dolls
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name|truncatewords:155}} -vismaya dolls store
    {% else %}
        welcome to vismaya dolls,see our new collection..
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
    <div class="row my_row-class">
        <div class="mx-auto">
        <p><a href="{% url 'shop:allproducts' %}" >Our All Products</a> </p>
    </div>
        </div>
</div>
{% endif %}

<div class="mx-auto">
     {% if category %}

            <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">


</div>
<br>
<div>
    <h3 class="text-center my_title">{{category.name}}</h3>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" width="1500px" height="600px">

</div>
<br>
<div>
    <h3 class="text-center my-title">Our Products</h3>
    <p class="text-justify">demo text</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p> ₹{{ product.price }}</p>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <br>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>



{% endblock %}