{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        {{ products.descripton|truncatewords:155}}



{% endblock %}
{% block title %}
    {% if category %}
        {{ products.name|truncatewords:155}} -vismaya dolls store
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
  <div class="mx-auto">
    <a href="{% url 'shop:allproducts' %}">Home</a> | <a href="{{products.category.get_url}}">{{products.category}}</a>
  </div>
</div>
<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="min-width:18rem">
            <img class="my_image" src="{{products.image.url}}" alt="{{products.name}}">
        </div>
    </div>



            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <h1 class="my_product_title">{{products.name}}</h1>
                    <p> ₹{{products.price}}</p>
                    <p class="my_title">Product Description</p>
                    <p class="text-justify my_rod_text">{{products.description}}</p>
                    <p class="text-justify my_rod_text">{{products.stock}}</p>
                    {% if products.stock <= 0 %}
                    <p class=" text-justify ">Out Of Stock</p>
                    {% else %}
                    <a class="btn btn-secondary" href="{% url 'cartappp:cart_add' products.id  %}">Add To Cart</a>
                    {% endif %}
                </div>
        </div>

    </div>
</div>
{% endblock %}