
.logincontainer {
    margin-top: 100px;
}
.logincard{
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.loginhead {
    background-color: #007bff;
    color: #fff;
    border-radius: 15px 15px 0 0;
}
.loginbutton{
    background-color: #6c7b8b;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
}
.loginbutton:hover {
    background-color: #0056b3;
}
.register-link {
    color: #007bff;
    text-decoration: none;
}
.register-link:hover {
    text-decoration: underline;
}