{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description }}
    {% else %}
        Welcome to MOVIE REVIEWS
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - MOVIE REVIEWS
    {% else %}
        WELCOME TO OUR WEBSITE - MOVIE REVIEWS
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
      

        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-5 col-lg-5">
                    <img class="img-fluid rounded card-image-top myimage" src="{{ category.img.url }}" alt="category picture">
                </div>
                <div class="col-sm-1 col-md-6 col-lg-6 ml-3">
                    <h1 class="my_title1">{{ category.name }}</h1><br>
                    <p class="text-muted">{{ category.description }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <!-- Banner Image -->
                <img class="my_image image_padding" src="{% static 'images/mbanner.jpg' %}" alt="our products" width="100%">
            </div>
            <div class="row text-center text-center justify-content-center align-items-center">
                <div>
                    {% if user.is_authenticated %}
                        <h1 class="text-muted">Welcome {{ user.username }}</h1>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <hr>
        <h1 class="text-center my_title">Movies</h1>
        <div class="card-container">
            <div class="row mx_auto">
                {% for i in movies %}
                    <div class="my_bottom_margin col-sm-12 col-md-4 col-lg-4 mb-4">
                        <div class="card text-center" style="min-width:18rem">
                            {% if i.Poster %}
                                <a href="{{ i.get_url }}"><img class="img-fluid rounded card-image-top myimage" src="{{ i.Poster.url }}" alt="movies" style="height: 300px;"></a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="my_title">{{ i.Movie_Title }}</h5>
                                <p class="my_title4">{{ i.Description|truncatewords:17 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                {% if movies.paginator.num_pages > 1 %}
                    <div class="text-center">
                        {% for pg in movies.paginator.page_range %}
                            <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if movies.number == pg %} active {% endif %}">{{ pg }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
