<div>
    <div class="footer my_footer" style="background-color: #d3d3d3; padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Copyright @ MOVIEREVIEWS</p>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: contact@example.com</p>
                    <p>Phone: 123-456-7890</p>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
        <p class="text-center">Copyright @ MOVIEREVIEWS</p>
    </div>
</div>
