{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{ products.description }}
{% endblock %}

{% block title %}
    {{ products.name }}  MOVIE REVIEWS
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row ml-1 mb-5">
            <a class="btn btn-light" href="{{ movies.category.get_url }}">{{ movies.category }}</a>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ movies.Poster.url }}" alt="movies Image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title text-uppercase my_title">{{ movies.Movie_Title }}</h2>
                        <p class="lead card-text">Movie Description:</p>
                        <p class="card-text text-justify my_title4">{{ movies.Description }}</p>
                        <hr>
                        <p class="lead card-text">Actors:</p>
                        <p class="card-text text-justify my_title4">{{ movies.Actors }}</p>
                        <hr>
                        <p class="lead card-text">Release Date:</p>
                        <p class="card-text text-justify">{{ movies.Release_date }}</p>
                        <hr>
                        <p class="text-left card-text my_title4">Watch Trailer: <a href="{{ movies.youtube_link }}">{{ movies.youtube_link }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
