{% extends 'base.html'%}
{% block body%}
<div class="contanier">
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="{{movie.image.url}}" width="400" height="600"><br>
        </div>
        <div class="col-md-6">
            <h2>{{movie.name}}</h2>
            <h5>{{movie.desc}}</h5>
            <h2>{{movie.year}}</h2>
            <a class="btn btn-warning" href="{% url 'update' movie.id %}">update</a>
            <a class="btn btn-danger" href="{% url 'delete' movie.id %}">delete</a>
        </div>
    </div>
</div>


{% endblock %}